body {
  background-image: radial-gradient(circle, #212919, #14251f, #121f21, #15191c, #141414);
}

.appContainer {
  justify-content: space-evenly;
}

.additionForm > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LeaderBoard {
  display: flex;
  justify-content: center;
}
